alabaster==0.7.13
appdirs==1.4.4
attrs==22.2.0
Babel==2.11.0
beautifulsoup4==4.11.1
cattrs==22.2.0
certifi==2022.12.7
charset-normalizer==3.0.1
docutils==0.19
esbonio==0.16.1
exceptiongroup==1.1.0
furo==2022.12.7
idna==3.4
imagesize==1.4.1
importlib-metadata==6.0.0
Jinja2==3.1.2
lsprotocol==2022.0.0a10
markdown-it-py==2.1.0
MarkupSafe==2.1.2
mdit-py-plugins==0.3.4
mdurl==0.1.2
myst-parser==0.18.1
packaging==23.0
pygls==1.0.1
Pygments==2.14.0
pyspellchecker==0.7.1
pytz==2022.7.1
PyYAML==6.0
requests==2.28.2
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
Sphinx==5.3.0
sphinx-basic-ng==1.0.0b1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
typeguard==2.13.3
typing_extensions==4.5.0
urllib3==1.26.14
zipp==3.12.0
